.account{
    margin: 30px;
    height: 500px;
    width: 1000px;
}
.accountTable{
    
}
.addButton{
    background-color: #5D54A4;
    color: rgb(189, 189, 189);
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}