.submission{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}
.submissionWrapper{
    padding: 10px;
}
.submissionTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submissionTopLeft{
    display: flex;
    align-items: center;

}
.submissionProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.submissionUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.submissionDate{
    font-size: 12px;
}
.submissionCenter{
    margin: 20px 0;

}
.submissionCenter {
    display: flex;
    flex-wrap: wrap;
}

.submissionCenter {
    display: flex;
    flex-wrap: wrap;
}

.submissionImg {
    max-width: calc(50% - 5px); /* Adjust the width as needed */
    margin-bottom: 5px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.submissionImgGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.submissionImgTop {
    width: 100%;
    max-width: 100%;
}

.submissionImgBottom {
    max-width: calc(50% - 5px);
    margin-bottom: 5px;
    border-radius: 5px;
    object-fit: cover;
}


.submissionBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submissionBottomLeft{
    display: flex;
    align-items: center;
}
.submissionIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.submissionLikeCounter{
    font-size: 15px;
    margin-right: 5px;
}
.submissionBottomRight{
    display: flex;
    align-items: center;
}
.submissionCommentText{
    cursor: pointer;
    font-size: 15px;

}
.submissionIcon.liked {
    color: blue; /* Change to the desired color */
}

.submissionIcon.disliked {
    color: red; /* Change to the desired color */
}

.submissionCenter{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submissionTitle {
    margin-bottom: 10px; 
}

.submissionContent{
    margin-bottom: 20px; 
}

.itemContainer {
    margin-right: 10px; 
}

.fileLink {
    display: inline-block;
    max-width: 200px;
    margin: 10px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: rgb(55, 55, 255);
    font-weight: 500;
    border-radius: 2px; 
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileLink:hover {
    border-radius: 3px;
    background-color: #e0e0e0; 
}
.extraImg {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: calc(50% - 4px); 
    margin-bottom: 5px;
    object-fit: cover;
    cursor: pointer;
}
.overlay {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 5px;
}
.submissionDropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 0px);
    right: 0 !important;
    border-radius: 10px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.submissionDropdownContentItem{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.submissionDropdownContent a{
    color: inherit;
    text-decoration: none;
}
.submissionDropdownContentItem:hover {
    background-color: #cbcbcb;
}
.submissionDropdownContentItemLink{
    cursor: pointer;
    color: inherit ; 
    text-decoration: none ;
}
.submissionTopRight {
    position: relative;
    z-index: 900;
}
.moreIcon{
    cursor: pointer;
}
.commentSection form {
    display: flex;
    flex-direction: column;
}
.commentSection textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    max-width:100%;
    border-radius: 4px;
    box-sizing: border-box;
}

.commentSection button {
    width: 100px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.commentSection button:hover {
    background-color: #0056b3;
}

.submissionFile{
    margin: 20px 0;
    width: 200px;
}
.submissionFileContainer{

}
.submissionFileLink{
    display: inline-block;
    padding: 8px 12px;
    width: 200px;
    background-color: #f0f0f0;
    text-decoration: none;
    font-weight: 500;
    color: rgb(55, 55, 255);
    border-radius: 10px; 
}