.login {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.loginWrapper {
    display: flex;
    align-items: stretch; 
}

.loginPicture {
    flex: 1; 
    overflow: hidden;
	height: 100vh;
}

.loginPicture img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
	overflow: hidden;
}

.loginFormWrapper {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.loginTitle{
	margin-bottom: 50px;
}
.loginTitle h1{
	margin-bottom: 10px;
}
.loginForm {
    width: 100%; /* Ensure the form takes up the entire space */
    max-width: 400px; /* Set maximum width for the form */
}

.loginField {
    margin-bottom: 20px;
}
.loginInput{
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: 0.3px solid rgb(183, 183, 183);
	margin-bottom: 10px;
	background-color: white;
}
.loginField label {
    display: block;
	margin-bottom: 10px;
}
.passwordAdd{
	font-size: 13px;
}
.checkBox{
	margin: 50px 0;
	display: flex;
	align-items: center;
}
.checkBoxInput{
	cursor: pointer;
	margin-right: 10px;
	width: 15px;
	height: 15px;
}
.checkBoxInput:checked:before{
	background-color: black;
}
.checkBox label{
	font-weight: 500;
	font-size: 15px;
}
.loginButton{
	cursor: pointer;
	border-radius: 40px;
	background-color: #cdcdcd;
	border: none;
	width: 200px;
	height: 50px;
}
.loginButtonText{
	color: black;
	font-size: 16px;
}
.error{
	color: red;
	font-size: 14px;
	margin: 10px;
}

.passwordField {
    margin-bottom: 20px;
}
.passwordFieldTop{
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.togglePasswordButton{
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}